<!DOCTYPE html>
<html>
<head>
  <title>Host Name Example</title>
  <link rel="stylesheet" type="text/css" href="stylesheet.css" />
</head>
<body>
  <!-- <h1>Hello, Welcome to <%= hostname %>!</h1> -->
  
   <h1>Hello, Welcome to <span class="font_color"> <%= hostname %> </span> !</h1> 
</body>
</html>