<!DOCTYPE html>
<html>
<head>
  <title>Host Name Example</title>
  <style>
    /* CSSスタイルをheaderに記述しちゃう。複雑な修飾の場合は別ファイルでやりましょう */
    .hostname {
      color: red;
    }
  </style>
</head>
<body>
     
  <!-- <h1>Hello, Welcome to <%= hostname %>!</h1> -->
  
  <!-- 色を変えたい場合はコメントアウトを削除 -->
  <h1>Hello, Welcome to <span class="hostname"><%= hostname %></span>!</h1>
  
</body>
</html>